# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 tab indentation
[*.*]
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

# 2 space indentation for package.json since this is npm default
[package.json]
indent_style = space
indent_size = 2
