<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="assets/css/_root.css"/>
</head>
<body>

{{> header }}

{{> nav }}

<article class="markdown-body">
	{{#markdown}}
		{% body %}
	{{/markdown}}
</article>

{{> footer }}

</body>
</html>

